<head>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>
</head>
<!-- Footer -->
<footer class="py-8 mt-auto text-white bg-gray-800">
	<div
		class="container flex flex-col justify-between mx-auto md:flex-row">
		<!-- Première colonne : Logo -->
		<div class="flex-shrink-0 mb-6 md:mb-0">
			<a href="{{ path('app_home') }}" class="flex items-center">
				<img src="{{ asset('assets/images/logo_y.png') }}" alt="Logo Candimate" class="w-auto h-10"/>
				<span class="ml-2 text-lg font-bold">CandiMate</span>
			</a>
		</div>
		<!-- Deuxième colonne : Liens de navigation et mentions légales -->
		<div class="flex flex-col items-center text-center md:text-center ">
			<div class="flex flex-col gap-6 md:flex-row md:gap-10">
				<a href="/" class="hover:text-blue-400">Home</a>
				<a href="/job-offers" class="hover:text-blue-400">Job Offer</a>
				<a href="/dashboard" class="hover:text-blue-400">Dashboard</a>
				<a href="/kanban" class="hover:text-blue-400">Kanban</a>
			</div>

			<!-- Mentions légales et copyright (centrés) -->
			<div class="mt-4 text-sm text-gray-400">
				<a href="{{ path('app_legal_notice') }}" class="text-sm hover:text-blue-400">Mentions légales</a>
				<span class="mx-2">|</span>
				<a href="{{ path('app_policy') }}" class="hover:text-gray-300">Protection de données personnelle</a>
				<p class="mt-2">
					&copy; 2025 TP Project Using Symfony By Eun-young Bouillot. All rights reserved.
				</p>
			</div>
		</div>

		<!-- Section 3 : Réseaux sociaux -->
		<div class="flex space-x-4">
			<a href="https://facebook.com" target="_blank" class="hover:text-blue-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 512 512"><path fill="currentColor" fill-rule="evenodd" d="M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16c24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31"/></svg>
			</a>
			<a href="https://twitter.com" target="_blank" class="hover:text-blue-400">
				<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"/></svg>
			</a>
			<a href="https://linkedin.com" target="_blank" class="hover:text-blue-600">
				</svg>
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="currentColor" d="M5 3c0 1.062-.71 1.976-2.001 1.976C1.784 4.976 1 4.114 1 3.052C1 1.962 1.76 1 3 1s1.976.91 2 2M1 19V6h4v13zm6-8.556c0-1.545-.051-2.836-.102-3.951h3.594l.178 1.723h.076c.506-.811 1.746-2 3.822-2C17.1 6.216 19 7.911 19 11.558V19h-4v-6.861c0-1.594-.607-2.81-2-2.81c-1.062 0-1.594.86-1.873 1.569c-.102.254-.127.608-.127.963V19H7z"/></svg>
			</a>
		</div>
	</div>

</footer>

