{% extends 'base.html.twig' %} {% block title %}Mot de passe oublié{% endblock
%} {% block body %}
<section id="forgot-password" class="py-12 bg-gray-50">
  <!-- Conteneur avec largeur maximale de 50% sur les grands écrans -->
  <div class="w-full max-w-2xl px-4 mx-auto">
    <div class="flex justify-center">
        <div class="w-full p-8 bg-white shadow-xl rounded-xl">
            <h2 class="mb-4 text-3xl font-semibold text-indigo-600">Réinitialisation du mot de passe</h2>
        
            {% if success %}
                <div class="mb-6 text-green-600">
                    <p class="text-sm">{{ success }}</p>
                </div>
            {% endif %}
        
            {% if error %}
                <div class="mb-6 text-red-600">
                    <p class="text-sm">{{ error }}</p>
                </div>
            {% endif %}
        
            <form method="post">
                <div class="mb-6">
                    <label for="email" class="block text-sm">Votre adresse email</label>
                    <input type="email" id="email" name="email" class="w-full p-3 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-600" required>
                </div>
                <button type="submit" class="w-full px-4 py-3 text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600">Envoyer le lien de réinitialisation</button>
            </form>
        </div>
        
    </div>
  </div>
</section>
{% endblock %}