{% extends 'base.html.twig' %}

{% block title %}Candimate - Accueil{% endblock %}

{% block body %}
<div class="container px-4 py-16 mx-auto">
    {% if app.user %}
        <h1 class="mt-10 text-6xl text-center text-orange-400">Bon retour sur Candimate, {{ app.user.firstName|capitalize }}</h1>
        <div class="w-3/6 h-1 m-auto my-8 bg-orange-400"></div>
        <p class="w-2/3 mx-auto text-2xl font-medium text-center">
            Vous pouvez facilement gérer vos candidatures, générer automatiquement vos lettres de motivation personnalisées 
            et préparer vos messages LinkedIn en un clin d'œil.
            <br><br>
            Simplifiez votre recherche d’emploi et mettez toutes les chances de votre côté pour décrocher le poste de vos rêves !
        </p>
    {% else %}
        <h1 class="mt-10 text-6xl text-center text-orange-400">Bienvenue sur Candimate</h1>
        <div class="w-3/6 h-1 m-auto my-8 bg-orange-400"></div>
        <p class="w-2/3 mx-auto text-2xl font-medium text-center">
            Votre assistant personnel pour simplifier la gestion de vos candidatures !
            <br>Générez automatiquement des lettres de motivation sur-mesure et des messages LinkedIn professionnels en quelques clics.
            <br>Optimisez votre recherche d'emploi et laissez-nous vous accompagner vers le succès !
        </p>
    {% endif %}
</div>
{% endblock %}
