{% extends 'base.html.twig' %}

{% block title %}Legal Notice
{% endblock %}

{% block body %}
<h1 class="flex py-6 pl-5 mx-auto my-auto text-5xl font-extrabold text-center text-white bg-blue-900 container-fluid">Mentions Légales</h1>
	<div class="container flex flex-wrap py-6 mx-auto my-auto ">
		<section class="flex flex-col items-center w-full px-3 md:w-1/1">
		<article class="flex flex-col p-5 m-5 shadow">
		<h2 class="text-3xl text-red-800">Éditeur </h2>
			<p>
				CandiMate : Société par Actions Simplifiée, au capital de 242 029,00 €, dont le siège est 7  Avenue Champs Elysées 75008 Paris, immatriculée au R.C.S de Paris sous le numéro 777.777.777, représentée par Mme Isabelle CLABEROT.</p>
		</article >
			
			<article class="flex flex-col p-5 m-5 shadow">
			<h2 class="text-3xl text-red-800 ">Hébergement </h2>
			<p class="">OVH SAS au capital de 10 069 020 € – RCS Roubaix – Tourcoing 424 761 419 00045 – Code APE 2620Z – N° TVA : FR 22 424 761 419 – Siège social : 2 rue Kellermann – 59100 Roubaix – France.</p>
			</article>
			
			<article class="flex flex-col p-5 m-5 shadow">
			<h2 class="text-3xl text-red-800">Droits de reproduction </h2>
			<p class="">Les informations présentées sur ce site sont publiques. La reproduction des pages de ce site est autorisée à la condition d’y mentionner la source et de créer un lien sur la ou les pages de référence. Elles ne peuvent être utilisées à des fins commerciales ou publicitaires.</p>
			</article>
		</section>
	</div>
{% endblock %}