<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# tailwind #}
		<link rel="stylesheet" href="{{ asset('styles/app.css') }}"/>

		<link
		href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"/>

		{# meta viewport : activer mode responsive #}
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{% block stylesheets %}
			<style>/* Add your CSS styles here */</style>
	{% endblock %}
	{% block javascripts %}
		{% block importmap %}
			{{
      importmap("app")
    }}
		{% endblock %}
	{% endblock %}
</head>
<body class="flex flex-col min-h-screen">
	{% include "_partials/_navbar.html.twig" %}
	<!-- Section principale du contenu -->
	<main class="flex-grow"> {% block body %}{% endblock %}
		</main>

		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
